<ion-view id="map.html" type="text/ng-template">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Boatlaunch</h1>
    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Reponsive -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7949613215795919"
           data-ad-slot="7998242981"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        <a ng-click="addSlipway()" class="button button-icon icon ion-android-add">Add new slipway</a>
    </ion-footer-bar>
</ion-view>
