<ion-view id="map.html" type="text/ng-template">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Boatlaunch</h1>
        <a ng-click="contact()" class="button button-icon icon ">Contact</a>
    </ion-header-bar>
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        <a ng-click="addSlipway()" class="button button-icon icon ion-android-add">Add new slipway</a>
    </ion-footer-bar>
</ion-view>
