<ion-modal-view>
  <div class="button button-clear" ng-click="closeModal()">Close</div>

  <ion-header-bar>
    <div class="button button-clear" ng-click="closeModal()">Close</div>

    <h1 class="title">Sign Up</h1>
    <div class="buttons">
      <div class="button button-clear" ng-click="closeModal()">Close</div>
    </div>
  </ion-header-bar>
  <div class="button button-clear" ng-click="closeModal()">Close</div>

  <ion-content>
    <div class="button button-clear" ng-click="closeModal()">Close</div>

    <form ng-submit="signup(user)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder=" Email" ng-model="user.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder=" Password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign up</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
